<div class="container">
	<div class="row">
		<div class="col-md-12" style="text-align: center;">
			<h1>Select Template</h1>
		</div>
	</div>



	<div class="row" style="margin-top: 20px;margin-bottom: 20px;">
		<div class="col-md-3">
			<div class="row box">Short Text, Longer Text, Video</div>
			<img (click)="one()" src="assets/images/templates/templateone.png" class="img-responsive" style="height: 450px;width: 100%;cursor: pointer;">
		</div>
		<div class="col-md-3">
				<div class="row box">Short Text, Video</div>
			<img (click)="two()" src="assets/images/templates/templatetwo.png" class="img-responsive" style="height: 450px;width: 100%;cursor: pointer;">
			
		</div>
		<div class="col-md-3">
				<div class="row box">Short Text, Longer Text</div>
			<img (click)="three()" src="assets/images/templates/templatethree.png" class="img-responsive" style="height: 450px;width: 100%;cursor: pointer;">
			
		</div>
		<div class="col-md-3">
				<div class="row box">Short Text, longer text</div>
			<img (click)="four()" src="assets/images/templates/templatefour.png" class="img-responsive" style="height: 450px;width: 100%;cursor: pointer;">
			
		</div>
	</div>


	<div class="row" style="margin-top: 20px;margin-bottom: 40px;">
		<div class="col-md-3">
				<div class="row box">Journaling</div>
			<img (click)="five()" src="assets/images/templates/templatefive.png" class="img-responsive" style="height: 450px;width: 100%;cursor: pointer;">
		</div>
		<div  class="col-md-3">
				<div class="row box">Short Text, longer text</div>
			<img (click)="six()" src="assets/images/templates/templatesix.png" class="img-responsive" style="height: 450px;width: 100%;cursor: pointer;">
			
		</div>
		<div class="col-md-3">
				<div class="row box">Short Quiz</div>
			<img (click)="seven()" src="assets/images/templates/templateseven.png" class="img-responsive" style="height: 450px;width: 100%;cursor: pointer;">
			
		</div>
		<div class="col-md-3">
				<div class="row box">Short Text, longer text</div>
			<img (click)="eight()" src="assets/images/templates/templateeight.png" class="img-responsive" style="height: 450px;width: 100%;cursor: pointer;">
			
		</div>
	</div>
</div>
