<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <img src="assets/images/antlogo.png" class="img-responsive" style="" />
    </div>
    <div class="col-md-8">
      <div style="float: left;">
        <h1 style="">
          {{title}}
        </h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6 btn-success" style="text-align: center;">
      <h3>Your record is successfully inserted.</h3>
    </div>
  </div>
</div>
