<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2">
       <img src="assets/images/antlogo.png" class="img-responsive" style="" />
    </div>
    <div class="col-md-8">
           <div style="float: left;">
  <h1 style="">
  {{title}}
  </h1>
</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10" style="text-align: center;">

  <div style="padding: 30px;">
 <form (submit)="sub($event)">
        <div class="row" style="margin-top: 8px;">
        <span style="font-size: 20px; float: left;margin:11px;margin-right: 30px;">Topline Takeaway <br/><span style="font-size: 12px;"> <48 Characters </span></span>

        <input type="text" placeholder="Topline Takeaway" style="padding: 22px;width: 60%;float: left;" class="form-control" maxlength="48" >
      </div>








       <div class="row" style="margin-top: 26px;">
        <div class="col-md-10">
        <input type="submit" style="float: right;" value="Submit" class="btn btn-primary" />
        <button class="btn btn-danger" style="float: right;margin-right: 8px;" (click)="back()" >Cancel</button>

      </div>
      </div>

  </form>

</div>



    </div>
  </div>
</div>




